<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>My First Map</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <script
            type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=yuv7tfnh0f"></script>
    </head>
    <body>
        <div id="navbar">My First Map</div>
        <div id="infoBox">
          <div id ="infoTitle">현재날짜</div>
          <div id ="infoContent">2020.07.21.</div>
        </div>
        <div id="map" style="width:100%;height:100vh;"></div>
        <script tpye="text/javascript"src="/data/data.js"></script>
        <script>
            var mapOptions = {
                center: new naver
                    .maps
                    .LatLng(37.3595704, 127.105399),
                zoom: 10
            };

            var map = new naver.maps.Map('map', mapOptions);

            /*외부 데이터 = data.js에 있는 배열 하나씩 뽑아서 지도에 ㅈ찍어주기*/
            for(var i in data){
                var target=data[i];//타이틀이나 컨텐츠 내부 내용 
                var latlng = new naver.maps.LatLng(target.lat, target.lng);
                //네이버 맵에 표시될수 있도록 위도 경도 불러오기

                //저번시간에 한거 다시 반복문안에 만들어주기 
                marker = new naver.maps.Marker({//마커생성
                    map:map,//현재 지도위에 표시
                    position: latlng,//위에서 불러온 위도 경도 셋팅
                    icon : {//css사용 
                        content:"<div class='marker'></div>",
                    }
                })
            }
           
            
        </script>
    </body>
</html>